In [2]:
import MetaTrader5 as mt5
import pandas as pd
import numpy as np
from datetime import datetime

import talib
import joblib
import os

In [3]:
# 連接 MT5
if not mt5.initialize():
    print("初始化失敗")
    mt5.shutdown()

# 獲取 Market Watch 內的所有交易品種
symbols = mt5.symbols_get()
symbol_list = [symbol.name for symbol in symbols]

print("Market Watch 內的品種數量:", len(symbol_list))
print("品種列表:", symbol_list)

# 斷開連線
mt5.shutdown()

Market Watch 內的品種數量: 166
品種列表: ['XTIUSD.x', 'XAGUSD.x', 'AMD', 'AVGO', 'BA', 'EBAY', 'GE', 'GOOG', 'GOOGL', 'JNJ', 'NFLX', 'RTX', 'TSLA', 'UNH', 'DAX30', 'HSI50', 'NAS100', 'NK225', 'SPX500', 'US30', 'XAUUSD.x', 'XBRUSD.x', 'AUDCAD.x', 'AUDCHF.x', 'AUDJPY.x', 'AUDNZD.x', 'AUDUSD.x', 'CADCHF.x', 'CADJPY.x', 'CHFJPY.x', 'EURAUD.x', 'EURCAD.x', 'EURCHF.x', 'EURGBP.x', 'EURJPY.x', 'EURNZD.x', 'EURUSD.x', 'GBPAUD.x', 'GBPCAD.x', 'GBPCHF.x', 'GBPJPY.x', 'GBPNZD.x', 'GBPUSD.x', 'NZDCAD.x', 'NZDCHF.x', 'NZDJPY.x', 'NZDUSD.x', 'USDCAD.x', 'USDCHF.x', 'USDCNH.x', 'USDHKD.x', 'USDJPY.x', 'USDSEK.x', 'USDSGD.x', 'USDZAR.x', 'AIG', 'APA', 'BRKb', 'EOG', 'FLEX', 'GM', 'JBL', 'LMT', 'SLB', 'UPS', 'QQQ', 'VIXY', 'ABBV', 'ABT', 'CAT', 'CMCSA', 'COST', 'CRM', 'CVX', 'DIS', 'DOW', 'FDX', 'IBM', 'LOW', 'MA', 'MMM', 'MS', 'NEE', 'NKE', 'PYPL', 'TGT', 'V', 'WBA', 'WFC', 'ADBE', 'A', 'AMZN', 'AXP', 'AMGN', 'ADI', 'AAPL', 'AMAT', 'T', 'BAC', 'BBY', 'BIIB', 'BMY', 'BSX', 'CHKP', 'CIEN', 'CRUS', 'CSCO', 'C', 'KO', 'GLW', 'SCHW', 'LLY', 'XOM', 'F', 'GPS', 'GS', 'HAL', 'HD', 'HON', 'HPQ', 'INTC', 'IP', 'INTU', 'EEM', 'IWM', 'JPM', 'JNPR', 'KSS', 'MCD', 'MDT', 'MRK', 'MU', 'MSFT', 'MSI', 'NVDA', 'ORCL', 'PEP', 'PFE', 'PG', 'QRVO', 'QCOM', 'XLY', 'DIA', 'XLE', 'XLF', 'XLB', 'SPY', 'SBUX', 'TXN', 'SMH', 'VRSN', 'VZ', 'VIAV', 'WMT', 'WMB', 'XRX', 'TLT', 'BKNG', 'DHR', 'META', 'TMUS', 'IEF', 'HYG', 'LQD', 'EWJ', 'IYR']

True

In [4]:
# 獲取歷史數據

data = {}
timeframe = mt5.TIMEFRAME_M30
n_candles = 1000

for symbol in symbol_list:
    mt5.initialize()
    rates = mt5.copy_rates_from_pos(symbol, timeframe, 0, 1000)
    if rates is not None:
        df = pd.DataFrame(rates)
        df['time'] = pd.to_datetime(df['time'], unit='s')
        data[symbol] = df
        print(f"{symbol} 歷史數據獲取成功")
    else:    
        print(f"{symbol} 歷史數據獲取失敗")

    mt5.shutdown()

XTIUSD.x 歷史數據獲取成功
XAGUSD.x 歷史數據獲取成功
AMD 歷史數據獲取成功
AVGO 歷史數據獲取成功
BA 歷史數據獲取成功
EBAY 歷史數據獲取成功
GE 歷史數據獲取成功
GOOG 歷史數據獲取成功
GOOGL 歷史數據獲取成功
JNJ 歷史數據獲取成功
NFLX 歷史數據獲取成功
RTX 歷史數據獲取成功
TSLA 歷史數據獲取成功
UNH 歷史數據獲取成功
DAX30 歷史數據獲取成功
HSI50 歷史數據獲取成功
NAS100 歷史數據獲取成功
NK225 歷史數據獲取成功
SPX500 歷史數據獲取成功
US30 歷史數據獲取成功
XAUUSD.x 歷史數據獲取成功
XBRUSD.x 歷史數據獲取成功
AUDCAD.x 歷史數據獲取成功
AUDCHF.x 歷史數據獲取成功
AUDJPY.x 歷史數據獲取成功
AUDNZD.x 歷史數據獲取成功
AUDUSD.x 歷史數據獲取成功
CADCHF.x 歷史數據獲取成功
CADJPY.x 歷史數據獲取成功
CHFJPY.x 歷史數據獲取成功
EURAUD.x 歷史數據獲取成功
EURCAD.x 歷史數據獲取成功
EURCHF.x 歷史數據獲取成功
EURGBP.x 歷史數據獲取成功
EURJPY.x 歷史數據獲取成功
EURNZD.x 歷史數據獲取成功
EURUSD.x 歷史數據獲取成功
GBPAUD.x 歷史數據獲取成功
GBPCAD.x 歷史數據獲取成功
GBPCHF.x 歷史數據獲取成功
GBPJPY.x 歷史數據獲取成功
GBPNZD.x 歷史數據獲取成功
GBPUSD.x 歷史數據獲取成功
NZDCAD.x 歷史數據獲取成功
NZDCHF.x 歷史數據獲取成功
NZDJPY.x 歷史數據獲取成功
NZDUSD.x 歷史數據獲取成功
USDCAD.x 歷史數據獲取成功
USDCHF.x 歷史數據獲取成功
USDCNH.x 歷史數據獲取成功
USDHKD.x 歷史數據獲取成功
USDJPY.x 歷史數據獲取成功
USDSEK.x 歷史數據獲取成功
USDSGD.x 歷史數據獲取成功
USDZAR.x 歷史數據獲取成功
AIG 歷史數據獲取成功
APA 歷史數據獲取成功
BRKb 歷史數據獲取成功
EOG 歷史數據獲取成功
FLEX 歷史數據獲取成功
GM 歷史數據獲取成功
JBL 歷史數據獲取成功
LMT 歷史數據獲取成功
SLB 歷史數據獲取成功
UPS 歷史數據獲取成功
QQQ 歷史數據獲取成功
VIXY 歷史數據獲取成功
ABBV 歷史數據獲取成功
ABT 歷史數據獲取成功
CAT 歷史數據獲取成功
CMCSA 歷史數據獲取成功
COST 歷史數據獲取成功
CRM 歷史數據獲取成功
CVX 歷史數據獲取成功
DIS 歷史數據獲取成功
DOW 歷史數據獲取成功
FDX 歷史數據獲取成功
IBM 歷史數據獲取成功
LOW 歷史數據獲取成功
MA 歷史數據獲取成功
MMM 歷史數據獲取成功
MS 歷史數據獲取成功
NEE 歷史數據獲取成功
NKE 歷史數據獲取成功
PYPL 歷史數據獲取成功
TGT 歷史數據獲取成功
V 歷史數據獲取成功
WBA 歷史數據獲取成功
WFC 歷史數據獲取成功
ADBE 歷史數據獲取成功
A 歷史數據獲取成功
AMZN 歷史數據獲取成功
AXP 歷史數據獲取成功
AMGN 歷史數據獲取成功
ADI 歷史數據獲取成功
AAPL 歷史數據獲取成功
AMAT 歷史數據獲取成功
T 歷史數據獲取成功
BAC 歷史數據獲取成功
BBY 歷史數據獲取成功
BIIB 歷史數據獲取成功
BMY 歷史數據獲取成功
BSX 歷史數據獲取成功
CHKP 歷史數據獲取成功
CIEN 歷史數據獲取成功
CRUS 歷史數據獲取成功
CSCO 歷史數據獲取成功
C 歷史數據獲取成功
KO 歷史數據獲取成功
GLW 歷史數據獲取成功
SCHW 歷史數據獲取成功
LLY 歷史數據獲取成功
XOM 歷史數據獲取成功
F 歷史數據獲取成功
GPS 歷史數據獲取成功
GS 歷史數據獲取成功
HAL 歷史數據獲取成功
HD 歷史數據獲取成功
HON 歷史數據獲取成功
HPQ 歷史數據獲取成功
INTC 歷史數據獲取成功
IP 歷史數據獲取成功
INTU 歷史數據獲取成功
EEM 歷史數據獲取成功
IWM 歷史數據獲取成功
JPM 歷史數據獲取成功
JNPR 歷史數據獲取成功
KSS 歷史數據獲取成功
MCD 歷史數據獲取成功
MDT 歷史數據獲取成功
MRK 歷史數據獲取成功
MU 歷史數據獲取成功
MSFT 歷史數據獲取成功
MSI 歷史數據獲取成功
NVDA 歷史數據獲取成功
ORCL 歷史數據獲取成功
PEP 歷史數據獲取成功
PFE 歷史數據獲取成功
PG 歷史數據獲取成功
QRVO 歷史數據獲取成功
QCOM 歷史數據獲取成功
XLY 歷史數據獲取成功
DIA 歷史數據獲取成功
XLE 歷史數據獲取成功
XLF 歷史數據獲取成功
XLB 歷史數據獲取成功
SPY 歷史數據獲取成功
SBUX 歷史數據獲取成功
TXN 歷史數據獲取成功
SMH 歷史數據獲取成功
VRSN 歷史數據獲取成功
VZ 歷史數據獲取成功
VIAV 歷史數據獲取成功
WMT 歷史數據獲取成功
WMB 歷史數據獲取成功
XRX 歷史數據獲取成功
TLT 歷史數據獲取成功
BKNG 歷史數據獲取成功
DHR 歷史數據獲取成功
META 歷史數據獲取成功
TMUS 歷史數據獲取成功
IEF 歷史數據獲取成功
HYG 歷史數據獲取成功
LQD 歷史數據獲取成功
EWJ 歷史數據獲取成功
IYR 歷史數據獲取成功

In [60]:
data['XOM']

,time,open,high,low,close,tick_volume,spread,real_volume
0,2024-10-29 22:30:00,118.911,119.121,118.551,118.561,1179,78,0
1,2024-10-29 23:00:00,118.561,118.661,117.801,117.821,1257,78,0
2,2024-10-29 23:30:00,117.811,118.091,117.651,118.031,1119,78,0
3,2024-10-30 00:00:00,118.041,118.151,117.881,117.911,1038,78,0
4,2024-10-30 00:30:00,117.901,117.901,117.351,117.601,946,78,0
...,...,...,...,...,...,...,...,...
995,2025-02-22 02:30:00,110.861,111.011,110.611,110.721,520,58,0
996,2025-02-22 03:00:00,110.711,111.071,110.521,111.001,532,58,0
997,2025-02-22 03:30:00,111.001,111.041,110.741,110.911,506,58,0
998,2025-02-22 04:00:00,110.891,110.931,110.671,110.721,538,58,0
999,2025-02-22 04:30:00,110.731,111.101,110.551,110.711,723,58,0

In [5]:
# 技術指標
def add_indicator(df):
    df['SMA_10'] = talib.SMA(df['close'], timeperiod=10)
    df['SMA_50'] = talib.SMA(df['close'], timeperiod=50)
    df['RSI'] = talib.RSI(df['close'], timeperiod=14)
    df['ATR'] = talib.ATR(df['high'], df['low'], df['close'], timeperiod=14)
    return df

In [6]:
# 為所有貨幣對添加技術指標
for symbol in data:
    data[symbol] = add_indicator(data[symbol])

# 檢視 EURUSD 的數據
data["XTIUSD.x"].tail()

,time,open,high,low,close,tick_volume,spread,real_volume,SMA_10,SMA_50,RSI,ATR
995,2025-02-24 20:30:00,70.42,70.48,70.23,70.27,235,4,0,70.351,70.5880,44.851682,0.184327
996,2025-02-24 21:00:00,70.27,70.35,70.14,70.22,297,4,0,70.351,70.5570,42.985424,0.186161
997,2025-02-24 21:30:00,70.22,70.37,70.15,70.18,351,4,0,70.340,70.5266,41.497801,0.188578
998,2025-02-24 22:00:00,70.18,70.53,70.15,70.46,672,4,0,70.359,70.5004,53.602385,0.202251
999,2025-02-24 22:30:00,70.47,70.51,70.44,70.49,90,4,0,70.387,70.4736,54.684255,0.192804

In [11]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

model_path = "../models"

for symbol in symbol_list:
    if symbol not in [file_name.replace(".pkl", "") for file_name in os.listdir(model_path)]:
        # 設定訓練數據
        X = data[symbol][['SMA_10', 'SMA_50', 'RSI', 'ATR', 'open', 'high', 'low', 'close', 'tick_volume']].dropna()
        # 預測下一根 K 線的收盤價
        y = data[symbol]['close'].shift(-1).dropna()


        # 對齊 X 和 y
        # 最後一天不會有 y 值，所以要刪除
        X = X.iloc[:-1]
        # 前 48 個數值因為計算SMA50，所以沒有X值要刪除
        y = y.iloc[48:-1]

        # 拆分訓練和測試數據
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

        # 訓練隨機森林模型
        model = RandomForestRegressor(n_estimators=100, random_state=42)
        model.fit(X_train, y_train)

        # 預測
        y_pred = model.predict(X_test)

        # 模型評估
        from sklearn.metrics import mean_absolute_error
        mae = mean_absolute_error(y_test, y_pred)
        print(f"{symbol} MAE: {mae}")

        # 檢視預測結果
        y_test = y_test.reset_index(drop=True)
        y_pred = pd.Series(y_pred)

        result = pd.concat([y_test, y_pred], axis=1)
        result.columns = ['actual', 'predicted']
        display(result.head())

        # 保存模型
        joblib.dump(model, f"{model_path}/{symbol}_model.pkl")

XTIUSD.x MAE: 0.00463421052631488

   actual  predicted
0   73.05    73.0392
1   70.13    70.1184
2   70.44    70.4466
3   72.23    72.2331
4   72.63    72.6250

XAGUSD.x MAE: 0.004342421052629562

   actual  predicted
0  31.400   31.40481
1  32.671   32.67076
2  32.118   32.11950
3  32.837   32.83341
4  32.931   32.93003

AMD MAE: 0.07249478947367728

    actual  predicted
0  141.572  141.57991
1  113.748  113.70760
2  124.318  124.36930
3  110.108  109.97210
4  113.378  113.35470

AVGO MAE: 0.13896668421053068

    actual  predicted
0  165.128  165.13718
1  225.830  225.83250
2  245.100  245.26860
3  234.940  234.95210
4  233.770  233.80610

BA MAE: 0.07590342105262948

    actual  predicted
0  151.889  151.93108
1  180.628  180.59270
2  178.278  178.24240
3  179.448  179.51020
4  185.908  185.98890

EBAY MAE: 0.013464210526315936

   actual  predicted
0   65.22    65.2479
1   69.04    69.0221
2   65.06    65.0320
3   67.96    67.9659
4   68.13    68.1524

GE MAE: 0.06728821052631163

    actual  predicted
0  181.213  181.20586
1  208.425  208.46920
2  196.745  196.88460
3  204.105  204.06620
4  208.185  208.33960

GOOG MAE: 0.04755884210526541

    actual  predicted
0  169.227  169.30386
1  185.650  185.65300
2  201.090  201.05290
3  192.900  192.89620
4  186.420  186.41080

GOOGL MAE: 0.0482804210526343

    actual  predicted
0  167.508  167.54839
1  183.813  183.80960
2  199.383  199.34680
3  191.133  191.12070
4  184.653  184.62790

JNJ MAE: 0.028669684210528675

    actual  predicted
0  156.143  156.15135
1  159.409  159.33180
2  147.089  147.10170
3  153.619  153.63576
4  156.249  156.20232

NFLX MAE: 0.43177994736842995

     actual   predicted
0   873.855   873.68827
1  1020.360  1020.83230
2   976.260   976.09620
3  1002.140   999.84710
4  1038.170  1038.49010

RTX MAE: 0.01963547368420969

    actual  predicted
0  118.767  118.74779
1  124.444  124.42040
2  125.794  125.82710
3  128.874  128.83440
4  126.104  126.13070

TSLA MAE: 0.2666436842105234

   actual  predicted
0  352.92   352.9286
1  353.90   353.8956
2  413.47   413.4778
3  383.89   384.2795
4  356.88   356.9272

UNH MAE: 0.23361857894737545

    actual  predicted
0  602.047  602.23696
1  502.892  502.85320
2  530.532  530.56280
3  532.602  532.55910
4  527.632  527.57590

DAX30 MAE: 2.4140473684201424

    actual  predicted
0  21769.6  21769.582
1  22521.1  22520.562
2  22554.3  22553.989
3  22891.7  22892.752
4  22336.4  22337.868

HSI50 MAE: 5.5731315789473514

    actual  predicted
0  20376.0  20392.725
1  23335.0  23333.890
2  22678.5  22673.695
3  22929.0  22923.850
4  23041.0  23042.020

NAS100 MAE: 3.099794736840972

    actual  predicted
0  21637.2  21637.782
1  21735.4  21735.321
2  22109.5  22109.251
3  22189.4  22189.301
4  22099.1  22098.421

NK225 MAE: 1.6012105263158447

    actual  predicted
0  39593.0   39593.82
1  38290.0   38291.80
2  39105.0   39105.86
3  39187.0   39185.89
4  38526.0   38525.45

SPX500 MAE: 0.3447526315794197

   actual  predicted
0  6089.0   6089.133
1  6048.7   6048.790
2  6114.6   6114.682
3  6136.0   6136.290
4  6124.3   6124.199

US30 MAE: 1.3938947368422017

    actual  predicted
0  44974.0   44972.77
1  43650.0   43645.90
2  44532.0   44533.92
3  44594.0   44593.71
4  44216.0   44217.15

XAUUSD.x MAE: 0.3622700000001427

    actual  predicted
0  2795.58  2795.5234
1  2941.90  2941.7069
2  2882.30  2882.6504
3  2934.01  2933.9961
4  2941.14  2941.6134

XBRUSD.x MAE: 0.005617368421053321

   actual  predicted
0   76.09    76.0891
1   73.89    73.8866
2   75.04    75.0398
3   75.65    75.6463
4   76.51    76.5142

AUDCAD.x MAE: 2.155052631579154e-05

    actual  predicted
0  0.90522   0.905275
1  0.90507   0.905080
2  0.90285   0.902850
3  0.90215   0.902146
4  0.90707   0.907058

AUDCHF.x MAE: 3.39942105263283e-05

    actual  predicted
0  0.56232   0.562403
1  0.57153   0.571535
2  0.57325   0.573270
3  0.57405   0.574074
4  0.57483   0.574812

AUDJPY.x MAE: 0.0029086842105272128

   actual  predicted
0  95.436   95.43527
1  95.199   95.20029
2  96.599   96.59911
3  96.368   96.36915
4  95.841   95.84214

AUDNZD.x MAE: 1.717421052636877e-05

    actual  predicted
0  1.10182   1.101809
1  1.10728   1.107271
2  1.10936   1.109381
3  1.11098   1.111009
4  1.10970   1.109754

AUDUSD.x MAE: 3.641263157892687e-05

    actual  predicted
0  0.61426   0.614480
1  0.63774   0.637808
2  0.63675   0.636757
3  0.63513   0.635107
4  0.63967   0.639682

CADCHF.x MAE: 2.360684210536438e-05

    actual  predicted
0  0.62100   0.620380
1  0.63135   0.631367
2  0.63482   0.634817
3  0.63619   0.636191
4  0.63358   0.633586

CADJPY.x MAE: 0.0036586315789444252

    actual  predicted
0  105.400  105.39822
1  105.163  105.15553
2  106.971  106.97382
3  106.801  106.80132
4  105.642  105.64492

CHFJPY.x MAE: 0.007135947368415803

    actual  predicted
0  169.440  169.44144
1  166.545  166.53896
2  168.482  168.47859
3  167.849  167.84095
4  166.723  166.72235

EURAUD.x MAE: 5.34557894736466e-05

    actual  predicted
0  1.66656   1.666290
1  1.64786   1.647848
2  1.64693   1.646961
3  1.64068   1.640645
4  1.63934   1.639380

EURCAD.x MAE: 4.744210526318051e-05

    actual  predicted
0  1.50901   1.510336
1  1.49176   1.491692
2  1.48727   1.487251
3  1.48045   1.480491
4  1.48735   1.487344

EURCHF.x MAE: 2.4950000000083165e-05

    actual  predicted
0  0.93746   0.937430
1  0.94200   0.941991
2  0.94432   0.944320
3  0.94206   0.942078
4  0.94254   0.942532

EURGBP.x MAE: 1.4618947368487327e-05

    actual  predicted
0  0.83317   0.833165
1  0.82926   0.829300
2  0.83299   0.833009
3  0.82767   0.827665
4  0.82854   0.828557

EURJPY.x MAE: 0.007608368421059116

    actual  predicted
0  159.095  159.09220
1  156.912  156.91699
2  159.127  159.12879
3  158.147  158.14899
4  157.159  157.15162

EURNZD.x MAE: 4.087999999999168e-05

    actual  predicted
0  1.83687   1.836860
1  1.82502   1.825009
2  1.82740   1.827394
3  1.82312   1.823105
4  1.81960   1.819719

EURUSD.x MAE: 4.606894736834195e-05

    actual  predicted
0  1.02406   1.024459
1  1.05115   1.051396
2  1.04893   1.048917
3  1.04229   1.042282
4  1.04888   1.048872

GBPAUD.x MAE: 6.521578947375455e-05

    actual  predicted
0  1.99986   1.999890
1  1.98689   1.986821
2  1.97690   1.977012
3  1.98201   1.981981
4  1.97835   1.978360

GBPCAD.x MAE: 5.433052631561633e-05

    actual  predicted
0  1.81083   1.812299
1  1.79867   1.798704
2  1.78524   1.785315
3  1.78847   1.788426
4  1.79492   1.794904

GBPCHF.x MAE: 2.038631578948551e-05

    actual  predicted
0  1.12451   1.124510
1  1.13582   1.135857
2  1.13353   1.133554
3  1.13805   1.138088
4  1.13746   1.137480

GBPJPY.x MAE: 0.007294421052635645

    actual  predicted
0  190.916  190.90729
1  189.195  189.19097
2  191.009  190.98498
3  191.052  191.05319
4  189.650  189.65188

GBPNZD.x MAE: 3.5995789473660494e-05

    actual  predicted
0  2.20410   2.204119
1  2.20051   2.200502
2  2.19353   2.193420
3  2.20243   2.202384
4  2.19583   2.195801

GBPUSD.x MAE: 5.936263157895895e-05

    actual  predicted
0  1.22881   1.228797
1  1.26739   1.267557
2  1.25908   1.259076
3  1.25911   1.259088
4  1.26577   1.265885

NZDCAD.x MAE: 2.9835263157860108e-05

    actual  predicted
0  0.82131   0.820275
1  0.81715   0.817150
2  0.81364   0.813644
3  0.81182   0.811825
4  0.81720   0.817200

NZDCHF.x MAE: 2.102842105263616e-05

    actual  predicted
0  0.50954   0.509518
1  0.51601   0.516028
2  0.51628   0.516282
3  0.51707   0.517100
4  0.51755   0.517561

NZDJPY.x MAE: 0.0033070526315714384

   actual  predicted
0  86.588   86.58744
1  85.952   85.95101
2  87.053   87.05475
3  86.719   86.71931
4  86.344   86.33123

NZDUSD.x MAE: 2.794631578942944e-05

    actual  predicted
0  0.55735   0.557287
1  0.57580   0.575815
2  0.57384   0.573835
3  0.57153   0.571515
4  0.57628   0.576343

USDCAD.x MAE: 6.856105263157135e-05

    actual  predicted
0  1.47350   1.474111
1  1.41905   1.419022
2  1.41776   1.417764
3  1.42028   1.420289
4  1.41790   1.417849

USDCHF.x MAE: 3.357105263162486e-05

    actual  predicted
0  0.91531   0.914721
1  0.89603   0.895893
2  0.90013   0.900150
3  0.90373   0.903725
4  0.89847   0.898484

USDCNH.x MAE: 0.00019608736842124475

    actual  predicted
0  7.36053   7.354226
1  7.23338   7.233212
2  7.24911   7.249268
3  7.28940   7.289490
4  7.24259   7.242144

USDHKD.x MAE: 3.646684210483548e-05

    actual  predicted
0  7.79318   7.793282
1  7.77013   7.770244
2  7.77924   7.779257
3  7.77440   7.774446
4  7.77419   7.774260

USDJPY.x MAE: 0.00812131578946722

    actual  predicted
0  155.341  155.34123
1  149.257  149.26543
2  151.686  151.68871
3  151.713  151.71438
4  149.810  149.80304

USDSEK.x MAE: 0.001020900000000287

     actual  predicted
0  11.22687  11.217821
1  10.60367  10.600305
2  10.69457  10.694717
3  10.73007  10.729566
4  10.63037  10.630166

USDSGD.x MAE: 5.536105263155055e-05

    actual  predicted
0  1.36856   1.368225
1  1.33248   1.332291
2  1.33909   1.339102
3  1.34287   1.342873
4  1.33384   1.333967

USDZAR.x MAE: 0.001195613157895368

     actual  predicted
0  18.56956  18.570200
1  18.31756  18.316210
2  18.34716  18.347632
3  18.40596  18.405030
4  18.32636  18.326366

AIG MAE: 0.009990473684214862

   actual  predicted
0  76.248   76.24696
1  75.416   75.41466
2  73.616   73.62780
3  73.006   73.00600
4  75.206   75.20270

APA MAE: 0.0058379999999992925

   actual  predicted
0  22.529   22.52672
1  23.268   23.27700
2  23.548   23.54310
3  22.248   22.24670
4  22.218   22.21567

BRKb MAE: 0.05022599999999515

    actual  predicted
0  478.436  478.39292
1  479.250  479.24765
2  461.170  461.16020
3  470.120  470.13038
4  474.270  474.29237

EOG MAE: 0.018115421052628734

    actual  predicted
0  133.298  133.30139
1  135.391  135.37865
2  132.201  132.21490
3  127.651  127.64750
4  128.101  128.14320

FLEX MAE: 0.009674736842106799

   actual  predicted
0   41.72    41.7090
1   41.69    41.6572
2   44.21    44.2050
3   43.45    43.3507
4   42.13    42.1408

GM MAE: 0.02180026315789136

   actual  predicted
0  60.740   60.57338
1  46.987   46.95290
2  53.847   53.83950
3  48.467   48.50790
4  48.197   48.21380

JBL MAE: 0.053854052631574306

    actual  predicted
0  135.869  135.86786
1  165.768  165.78990
2  172.658  172.62690
3  164.548  164.43220
4  167.108  167.13230

LMT MAE: 0.250902210526341

   actual  predicted
0  517.50  517.60732
1  433.18  433.10610
2  495.18  495.14240
3  451.16  451.69200
4  441.62  441.56220

SLB MAE: 0.009875473684210446

   actual  predicted
0  43.699   43.69700
1  42.746   42.74638
2  41.896   41.86650
3  40.556   40.54980
4  41.716   41.70970

UPS MAE: 0.03552426315789244

    actual  predicted
0  137.668  137.75524
1  115.663  115.61290
2  133.183  133.16060
3  111.633  111.62120
4  115.323  115.36750

QQQ MAE: 0.048261210526323484

    actual  predicted
0  507.266  507.14098
1  535.560  535.59100
2  532.230  532.21100
3  525.620  525.51760
4  534.080  533.93030

VIXY MAE: 0.01306494736842532

   actual  predicted
0  44.263   44.27660
1  40.910   40.93520
2  40.970   40.98170
3  42.210   42.22080
4  41.770   41.77393

ABBV MAE: 0.04040700000001203

   actual  predicted
0  177.25  177.24543
1  199.35  199.48030
2  170.34  170.35048
3  191.18  191.32830
4  193.12  193.16410

ABT MAE: 0.02700657894737131

    actual  predicted
0  117.836  117.82197
1  132.740  132.75420
2  124.700  124.89600
3  131.620  131.62430
4  131.630  131.62000

CAT MAE: 0.09433921052636025

    actual  predicted
0  404.092  404.14838
1  349.610  349.13500
2  407.460  407.47375
3  358.930  358.85510
4  352.210  352.14660

CMCSA MAE: 0.016845999999998407

   actual  predicted
0  43.112   43.13107
1  36.340   36.34180
2  37.330   37.32930
3  33.600   33.61040
4  35.250   35.23650

COST MAE: 0.24389189473690748

     actual   predicted
0   951.995   951.93379
1  1038.590  1039.00640
2   943.030   943.00380
3  1032.760  1032.12850
4  1071.830  1070.46310

CRM MAE: 0.0821044736841914

    actual  predicted
0  340.307  340.34801
1  319.230  319.31300
2  335.620  335.53398
3  343.200  343.05121
4  325.440  325.43510

CVX MAE: 0.018568368421057954

    actual  predicted
0  161.462  161.46965
1  158.730  158.72251
2  156.630  156.63310
3  153.100  153.10950
4  154.740  154.75300

DIS MAE: 0.02264515789473747

    actual  predicted
0  115.552  115.54808
1  109.940  109.98980
2  113.030  113.03684
3  112.390  112.38820
4  109.170  109.16990

DOW MAE: 0.016855000000000144

   actual  predicted
0   46.09   46.06583
1   39.27   39.26120
2   41.69   41.68090
3   38.16   38.16160
4   38.16   38.15530

FDX MAE: 0.0721672631579

    actual  predicted
0  306.095  306.80363
1  267.310  267.29190
2  270.770  270.75530
3  248.650  248.70840
4  262.940  262.99000

IBM MAE: 0.09278268421052384

    actual  predicted
0  223.929  223.90907
1  263.870  263.81260
2  226.030  226.02464
3  263.480  263.40500
4  255.710  255.71600

LOW MAE: 0.04273099999999996

    actual  predicted
0  272.097  272.13367
1  244.870  244.85970
2  261.750  261.73730
3  257.180  257.16690
4  250.740  250.66310

MA MAE: 0.09000752631580859

    actual  predicted
0  522.729  522.72688
1  560.790  560.80370
2  535.010  535.01440
3  562.000  561.81320
4  566.350  566.34120

MMM MAE: 0.02371621052632146

   actual  predicted
0  127.66  127.66433
1  148.62  148.58660
2  149.51  149.50300
3  152.57  152.47570
4  148.44  148.45570

MS MAE: 0.026406421052636863

    actual  predicted
0  133.794  133.78291
1  133.770  133.74365
2  138.440  138.44190
3  137.970  137.97920
4  136.790  136.78130

NEE MAE: 0.014213947368426641

   actual  predicted
0  76.153   76.15698
1  70.250   70.25110
2  72.820   72.91780
3  69.570   69.55620
4  69.400   69.37800

NKE MAE: 0.014966210526317974

   actual  predicted
0  79.359   79.35301
1  76.350   76.34930
2  73.820   73.81950
3  74.980   74.95100
4  72.520   72.50550

PYPL MAE: 0.018068894736843116

   actual  predicted
0  87.743   87.75666
1  77.640   77.59700
2  89.680   89.67050
3  79.270   79.17140
4  76.130   76.14950

TGT MAE: 0.04917621052632454

    actual  predicted
0  130.086  130.08748
1  128.550  128.52174
2  138.000  138.00800
3  134.880  134.86110
4  128.000  128.04576

V MAE: 0.055817631578919474

    actual  predicted
0  310.566   310.6077
1  350.130   350.1616
2  330.530   330.4108
3  347.300   347.2540
4  354.090   353.9946

WBA MAE: 0.004539999999999582

   actual  predicted
0   9.038    9.03448
1  10.690   10.70570
2  11.630   11.62670
3  10.050   10.05120
4   9.440    9.43990

WFC MAE: 0.014428210526318782

   actual  predicted
0  76.185   76.19417
1  78.800   78.80750
2  77.510   77.51750
3  80.200   80.19360
4  79.090   79.08140

ADBE MAE: 0.19524547368419906

    actual  predicted
0  516.444  516.63572
1  453.634  453.52340
2  440.104  440.26080
3  438.484  438.47890
4  460.024  460.12590

A MAE: 0.04487578947368635

    actual  predicted
0  134.597  134.59866
1  136.070  136.05400
2  152.130  152.14130
3  148.070  148.03780
4  137.040  137.04043

AMZN MAE: 0.06559647368420223

    actual  predicted
0  200.800  200.77376
1  222.706  222.68050
2  234.376  234.33280
3  236.566  236.50520
4  229.916  229.90010

AXP MAE: 0.054694789473683156

    actual  predicted
0  303.734  303.73261
1  301.572  301.56574
2  316.122  316.11880
3  317.772  317.75000
4  306.312  306.38409

AMGN MAE: 0.08906757894741305

    actual  predicted
0  294.401  294.42829
1  295.396  295.34606
2  275.056  275.01060
3  303.546  303.83510
4  295.186  295.20801

ADI MAE: 0.06293310526315027

    actual  predicted
0  221.116  221.07528
1  244.695  244.05990
2  220.825  220.88690
3  207.995  207.99440
4  207.215  207.30580

AAPL MAE: 0.051729631578961

    actual  predicted
0  230.848  230.96917
1  246.339  246.27230
2  222.719  222.70800
3  230.659  230.63180
4  239.259  239.15584

AMAT MAE: 0.05429605263158192

    actual  predicted
0  175.137  175.16413
1  177.099  177.10763
2  188.759  188.61890
3  179.299  179.34310
4  181.929  181.95554

T MAE: 0.007809842105262931

   actual  predicted
0  22.957   22.95694
1  26.128   26.15300
2  22.648   22.64810
3  24.338   24.34200
4  25.498   25.48700

BAC MAE: 0.005237842105263911

   actual  predicted
0  47.360   47.37244
1  45.358   45.35690
2  46.748   46.74680
3  46.778   46.77804
4  46.048   46.04736

BBY MAE: 0.012863789473680236

   actual  predicted
0  93.798   93.75795
1  91.016   91.02610
2  86.296   86.30456
3  85.516   85.52360
4  87.786   87.78875

BIIB MAE: 0.06720005263157298

    actual  predicted
0  158.900  158.90971
1  137.364  137.43580
2  144.064  144.12580
3  145.754  145.77440
4  134.194  134.35810

BMY MAE: 0.010409052631574336

   actual  predicted
0  59.158   59.16142
1  55.136   55.13240
2  59.656   59.65189
3  59.576   59.56634
4  55.936   55.94250

BSX MAE: 0.020834947368422414

    actual  predicted
0   88.665    88.6547
1  105.128   105.0983
2  101.798   101.7824
3  105.228   105.2195
4  105.948   105.9440

CHKP MAE: 0.075461578947364

   actual  predicted
0  183.00   183.0218
1  220.76   220.7241
2  195.48   195.4246
3  211.85   211.6305
4  218.73   218.6315

CIEN MAE: 0.06396357894737158

   actual  predicted
0  70.933   70.93535
1  86.034   86.04780
2  99.544   99.28600
3  92.204   92.09590
4  88.644   88.65510

CRUS MAE: 0.01910263157894995

   actual  predicted
0  109.01   109.0414
1  110.74   110.6908
2  101.29   101.2850
3  105.25   105.2206
4  104.81   104.8266

CSCO MAE: 0.012346315789469143

   actual  predicted
0  58.786    58.7919
1  64.358    64.3524
2  62.148    62.1333
3  62.288    62.2655
4  62.968    63.1598

C MAE: 0.02138147368420896

   actual  predicted
0  70.294   70.30546
1  81.428   81.43290
2  81.858   81.85110
3  78.568   78.55700
4  81.078   81.07660

KO MAE: 0.011149473684214647

   actual  predicted
0   64.02    64.0096
1   69.64    69.6083
2   61.67    61.6705
3   62.83    62.8309
4   68.85    68.9764

GLW MAE: 0.010393526315788723

   actual  predicted
0  48.728    48.7317
1  51.297    51.2684
2  54.087    54.0630
3  53.277    53.2580
4  52.107    52.0948

SCHW MAE: 0.018616105263150173

   actual  predicted
0  81.237   81.23073
1  81.664   81.66590
2  82.374   82.37316
3  81.624   81.62315
4  80.424   80.42800

LLY MAE: 0.28437168421048803

    actual  predicted
0  744.120  744.18660
1  873.704  873.80400
2  784.354  784.46299
3  837.364  836.19841
4  877.184  877.57540

XOM MAE: 0.024972421052627463

    actual  predicted
0  120.234  120.23117
1  112.041  112.06920
2  109.061  109.06930
3  109.531  109.53890
4  107.891  107.89360

F MAE: 0.0032533157894745575

   actual  predicted
0  11.382   11.39752
1   9.298    9.29810
2  10.118   10.10800
3  10.198   10.19950
4   9.348    9.34980

GPS MAE: 0.005693789473684232

   actual  predicted
0  25.138   25.13291
1  22.539   22.53650
2  24.819   24.81969
3  22.719   22.71930
4  22.989   22.98920

GS MAE: 0.16753789473686095

    actual  predicted
0  601.367  601.41367
1  637.629  637.47970
2  637.479  637.39920
3  642.689  642.64440
4  644.389  644.28850

HAL MAE: 0.008551578947369602

   actual  predicted
0  31.638   31.64831
1  27.337   27.33600
2  27.797   27.80590
3  26.147   26.14340
4  26.027   26.03500

HD MAE: 0.07609910526315389

    actual  predicted
0  425.228  425.29055
1  392.123  392.11850
2  414.313  414.31060
3  412.483  412.59350
4  410.103  410.11368

HON MAE: 0.05896031578947055

    actual  predicted
0  230.341  230.32833
1  210.472  210.48570
2  226.002  225.99494
3  221.572  221.54320
4  205.582  205.59660

HPQ MAE: 0.009197736842104532

   actual  predicted
0  39.103   39.15211
1  34.689   34.68840
2  32.829   32.82520
3  32.299   32.29710
4  33.009   33.00820

INTC MAE: 0.010347210526316998

   actual  predicted
0  25.286   25.26809
1  24.778   24.79288
2  21.088   21.05680
3  19.638   19.63560
4  24.298   24.29880

IP MAE: 0.007881421052625669

   actual  predicted
0  59.270   59.29511
1  55.705   55.70260
2  59.875   59.88926
3  54.045   54.04660
4  55.645   55.64090

INTU MAE: 0.1659973684210579

   actual  predicted
0  647.95   647.8336
1  575.42   575.0701
2  601.36   601.3671
3  586.28   586.2727
4  589.85   589.8327

EEM MAE: 0.006166684210527133

   actual  predicted
0  43.212   43.21089
1  44.898   44.87470
2  42.998   42.99410
3  43.088   43.08748
4  43.858   43.85500

IWM MAE: 0.040076526315780826

    actual  predicted
0  243.598  243.86360
1  223.789  223.78030
2  229.679  229.66974
3  229.069  229.05834
4  224.229  224.23010

JPM MAE: 0.0536482631578885

    actual  predicted
0  249.871  249.84571
1  268.073  268.02940
2  264.753  264.75820
3  269.333  269.33910
4  274.383  274.41730

JNPR MAE: 0.004759789473679557

   actual  predicted
0  36.087   36.08921
1  35.999   35.99929
2  39.069   39.06180
3  35.659   35.66039
4  36.069   36.06960

KSS MAE: 0.009280789473683784

   actual  predicted
0  18.439   18.44278
1  11.893   11.89030
2  13.863   13.85960
3  12.933   12.93310
4  11.733   11.73130

MCD MAE: 0.041663631578946154

    actual  predicted
0  294.042  294.03343
1  298.628  298.62097
2  285.208  285.25051
3  288.768  288.73992
4  308.388  308.27150

MDT MAE: 0.02015063157894311

   actual  predicted
0  85.284   85.28254
1  87.611   87.61800
2  89.521   89.53730
3  91.601   91.57600
4  91.521   91.51190

MRK MAE: 0.0332173684210534

     actual  predicted
0  101.0692  101.06774
1   86.8252   86.68870
2   95.7452   95.75470
3   89.4952   89.50970
4   85.3252   85.32560

MU MAE: 0.0421728947368362

    actual  predicted
0  105.083   105.0328
1  103.868   103.8738
2  104.058   104.0386
3   91.928    92.0125
4   94.898    94.9525

MSFT MAE: 0.05407347368418384

    actual  predicted
0  415.731  415.66761
1  417.607  417.56160
2  446.237  446.16420
3  413.137  413.12370
4  409.587  409.54320

MSI MAE: 0.13612663157897606

    actual  predicted
0  494.079  494.11482
1  432.823  433.18820
2  480.193  480.30950
3  476.823  476.62210
4  463.933  463.96300

NVDA MAE: 0.042765421052632896

    actual  predicted
0  137.528  137.50206
1  139.560  139.54917
2  145.180  145.18670
3  124.030  123.97150
4  136.140  136.16880

ORCL MAE: 0.06431436842105562

    actual  predicted
0  190.090  190.08441
1  176.355  176.36500
2  184.615  184.64522
3  171.055  171.05770
4  172.765  172.81560

PEP MAE: 0.028957736842110497

    actual  predicted
0  162.202  162.19783
1  148.407  148.36220
2  149.027  149.02480
3  144.067  144.06430
4  144.167  144.17340

PFE MAE: 0.0027956315789446355

   actual  predicted
0  25.999   25.99805
1  25.848   25.84822
2  26.058   26.05720
3  26.298   26.29850
4  25.558   25.55594

PG MAE: 0.026821368421068907

    actual  predicted
0  177.085  177.22631
1  166.640  166.62630
2  164.020  164.01080
3  167.800  167.80920
4  170.370  170.36585

QRVO MAE: 0.034209473684206904

   actual  predicted
0   70.05    70.0790
1   77.66    77.6180
2   88.93    88.9413
3   82.45    82.4046
4   76.79    76.7881

QCOM MAE: 0.033398368421054675

    actual  predicted
0  158.912  158.91855
1  173.648  173.61110
2  173.788  173.78950
3  173.338  173.35100
4  171.678  171.69270

XLY MAE: 0.04821942105262286

    actual  predicted
0  221.689  221.68956
1  223.131  223.11954
2  231.041  231.02820
3  230.011  230.01760
4  226.451  226.43000

DIA MAE: 0.036773473684166

    actual  predicted
0  446.226  446.22272
1  441.028  441.00728
2  445.098  445.08720
3  446.678  446.68548
4  444.708  444.70750

XLE MAE: 0.019881000000002005

   actual  predicted
0  95.613   95.70073
1  92.607   92.60450
2  91.807   91.81124
3  90.097   90.09620
4  89.157   89.14130

XLF MAE: 0.006829263157900107

   actual  predicted
0  50.875   50.88239
1  51.179   51.17680
2  50.799   50.80123
3  51.389   51.38988
4  51.369   51.36874

XLB MAE: 0.01674294736840919

   actual  predicted
0  94.898    94.9228
1  89.317    89.3115
2  89.397    89.4034
3  89.247    89.2419
4  89.217    89.2128

SPY MAE: 0.040956105263141675

    actual  predicted
0  597.198  597.17560
1  608.768  608.64600
2  609.838  609.80970
3  602.628  602.62243
4  607.038  607.02255

SBUX MAE: 0.03590500000001414

    actual  predicted
0  102.439  102.42348
1  112.785  112.79730
2   98.425   98.42290
3  111.925  111.93090
4  111.935  111.94500

TXN MAE: 0.05445684210525748

   actual  predicted
0  203.42   203.4328
1  202.31   202.3592
2  188.01   187.9885
3  180.42   180.4346
4  180.72   180.7204

SMH MAE: 0.048340368421061666

    actual  predicted
0  244.742  244.74445
1  257.282  257.25410
2  264.382  264.29720
3  246.272  246.25905
4  251.372  251.31514

VRSN MAE: 0.06971473684211335

   actual  predicted
0  181.70   181.7239
1  232.43   232.4225
2  208.82   208.8937
3  220.23   220.1419
4  229.31   229.2862

VZ MAE: 0.00844894736842337

   actual  predicted
0  43.726   43.72411
1  42.227   42.22160
2  39.637   39.63540
3  39.907   39.90710
4  40.727   40.72020

VIAV MAE: 0.004051052631580865

   actual  predicted
0   10.17    10.1700
1   11.80    11.8083
2   10.67    10.6425
3   12.69    12.6919
4   12.17    12.1650

WMT MAE: 0.03166810526315822

    actual  predicted
0   89.486   89.45285
1   97.054   97.17230
2   94.764   94.75830
3  102.104  102.09960
4  103.914  103.92220

WMB MAE: 0.010151736842099942

   actual  predicted
0  57.849   57.83775
1  57.549   57.53890
2  59.669   59.66332
3  56.949   56.98910
4  56.059   56.05660

XRX MAE: 0.002532578947367611

   actual  predicted
0   9.246    9.24776
1   7.859    7.85800
2   9.809    9.79880
3   8.509    8.50860
4   8.059    8.05870

TLT MAE: 0.012274736842104516

   actual  predicted
0   92.24    92.2182
1   88.63    88.6221
2   87.14    87.1378
3   89.73    89.7397
4   88.43    88.4270

BKNG MAE: 0.8745930526312421

     actual   predicted
0  5193.322  5193.53419
1  5000.230  5000.75780
2  4795.420  4795.95750
3  4769.710  4767.96750
4  5019.180  5018.70340

DHR MAE: 0.07262136842105095

    actual  predicted
0  237.364  237.39462
1  208.200  208.21230
2  246.350  246.38250
3  213.320  213.00600
4  204.140  204.18310

META MAE: 0.24678447368423145

    actual  predicted
0  564.406  564.24718
1  697.180  697.10750
2  644.060  643.80670
3  704.060  703.96130
4  725.500  724.85980

TMUS MAE: 0.07615010526315227

   actual  predicted
0  239.07  239.10686
1  262.90  262.88630
2  217.09  217.05200
3  240.22  240.21646
4  261.28  260.89730

IEF MAE: 0.004257894736851816

   actual  predicted
0  94.384   94.37007
1  93.200   93.19800
2  92.520   92.52080
3  93.580   93.57400
4  92.890   92.89030

HYG MAE: 0.0014511052631766125

   actual  predicted
0  79.768   79.77016
1  79.750   79.75000
2  79.780   79.78000
3  79.720   79.72000
4  79.540   79.53880

LQD MAE: 0.008471789473684503

    actual  predicted
0  109.471  109.46931
1  107.840  107.83381
2  107.190  107.18740
3  108.230  108.22994
4  107.530  107.52780

EWJ MAE: 0.007973684210534097

   actual  predicted
0  68.297   68.29878
1  69.640   69.63712
2  68.540   68.54089
3  68.930   68.92190
4  69.040   69.04220

IYR MAE: 0.017876368421047655

    actual  predicted
0  101.539  101.50644
1   96.430   96.42700
2   95.230   95.21420
3   95.790   95.78890
4   95.850   95.84830

In [42]:
print(len(X))
print(len(y))

951
951